*{
    margin:0;
}
body{
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.contenido{
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 10px solid white;
    display: flex;
    flex-wrap: nowrap;
}
.izquierda{
    background-color: #eeeaea;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.polaroid-img > p{
    text-align: center;
    font-family: monospace;
    font-size: larger;

}
.polaroid-img{
    background-color: white;
    width: 83%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.redes{
    background-color: #eeeaea;
    width: 60%;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#perfil{
    margin-top: 5%;
    margin-left: 11%;
    width: 77%;
    border: 2px solid black;

}
h1{
    font-family: monospace;
    margin-left: 20%;
    font-size: 30px;
    margin-top: 6%;

}
a{
    font-family: monospace;
    text-decoration: none;
    font-size: 30px;
}
a:visited{
    color: black;   
}
a:hover{
    color: tomato;
}

a:active{
    color: blueviolet;

}

.git{
    width: 60px;
}
.ig{
    width: 30px;
    margin-left: 4%;
    margin-right: 4%;
}
.twt{
    width: 30px;
    margin-left: 4%;
    margin-right: 4%;
}
.fb{
    width: 30px;
    margin-left: 4%;
    margin-right: 4%;
}